  h3{
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    font-size: 20px; 
    color: #111;
  }
  
  #band {
    padding: 80px 120px;  
  }

  .person {
    border: 10px solid transparent;
    margin-bottom: 60px;
    width: 230px;
    height: 230px;
    opacity: 0.7;      
  }
  .person:hover {
    border-color: #f1f1f1;
  }
  
  #myPage .navbar-brand {
      height: 116px;
  }




  

  
  
  